/* Index.html */
:root {
  --primary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --main-text-color: #434455;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-text {
  color: var(--primary-text-color);
}
/* Menunav */
.option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.option:hover {
  color: #404bbf;
}
.option:focus {
  color: #404bbf;
}
/* Menunav-Adress */
.address {
  font-style: normal;
}
.contacts-option {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}
.contacts-option:hover {
  color: #404bbf;
}
.contacts-option:focus {
  color: #404bbf;
}
/* Scrolls */
/* Hero */
.hero {
  background-color: #2e2f42;
}
.hero-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 169px;
  height: 56px;
}
.hero-button:hover {
  background-color: #404bbf;
}
/* Sections */
.section1-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section3-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section1-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section3-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section1-description {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.section3-description {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.section1-list {
  list-style: none;
}
.section2-list {
  list-style: none;
}
.section3-list {
  list-style: none;
}
/* Footer */
.footer {
  background-color: #2e2f42;
}
.logofooter {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-text3 {
  color: #f4f4fd;
}
.footer-description {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
/* Portfolio */
/* Filter */
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  list-style: none;
}
.filter-button {
  background-color: #e7e9fc;
  text-align: center;
  cursor: pointer;
}
.filter-button:active {
  background-color: #404bbf;
  color: #ffffff;
}
.filter-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.filter-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* Our projects */
.our-projects {
  list-style: none;
}
.our-projects-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.our-projects-description {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
